//shared
@import '../shared/index';

* {
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.container {
    min-height: 100vh;
    width: var(--width-container);
    margin: 0 auto;
}

//widgets
@import '../widgets/index';
//pages
@import '../pages/index';